@import url('http://fonts.googleapis.com/css?family=Roboto:400,300|Roboto+Condensed:400,300,700');

body {
  background: #fff;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  min-width: 320px;
}

p {
  line-height: 1.75em;
  margin: 0 0 1.5em;
  font-size: 1em;
  /*Chrome Fix*/
}

a {
  border-bottom: 1px dashed;
  text-decoration: none;
  color: #289;
}

a:hover {
  border-bottom: none;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

/*.clearafter:after {
  content: " ";
  height: 0;
  width: 0;
  display: block;
  clear: both;
}*/

.navigation {
  position: fixed;
  top: 0;
  height: 40px;
  background: #333;
  text-align: right;
  width: 100%;
  z-index: 10;
  line-height: 40px;
  min-width: 300px;
}

.links {
  padding-right: 15px;
  box-sizing: border-box;
  position: relative;
}

.links .ox {
  border-bottom: 2px solid #228899;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  position: absolute;
  left: 15px;
  line-height: 1.2em;
  top: 8px;
}

.navigation li {
  display: inline-block;
  margin-left: 12px;
}

.links a {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  border-bottom: none;
  font-size: 1.125em;
}

.links a:hover {
  color: #228899;
}

#home, #talent, #websites, #email, #ads {
  margin-top: -50px;
  padding-top: 50px;
}

.sectionTitle {
  font-size: 2.2em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  position: relative;
  margin-bottom: 45px;
}

.sectionTitle:after {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 35px;
  background: #289;
  bottom: -10px;
}

.header {
  background: url('../images/header_background.jpg') bottom;
  background-size: cover;
  padding: 40px 10px;
  margin: 40px 0;
}

.header .contentBox {
  max-width: 260px;
  padding: 15px 40px 20px;
  margin: 0 auto;
  background: rgba(255, 255, 255, .7);
}

.header .contentBox img {
  margin: 0 auto 15px;
  display: block;
  width: 150px;
}

.header h1.sectionTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6em;
  white-space: nowrap;
  margin-bottom: 25px;
}

.header h1.sectionTitle:after {
  width: 47px;
}

.header p {
  font-size: 1.1em;
  line-height: 1.5em;
  margin-bottom: 0;
}

.intro h1.sectionTitle {
  margin-bottom: 30px;
}

.bio {
  margin: 0 auto 60px;
  max-width: 660px;
}

.bio img {
  border-radius: 270px;
  margin: 0 30px 0 55px;
  width: 270px;
  /*margin: 0 auto 10px;*/
  display: inline-block;
  vertical-align: middle;
}

.bio div {
  width: 300px;
  display: inline-block;
  vertical-align: middle;
}

.bio h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5em;
  position: relative;
  display: inline-block;
}

.bio h3:after {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 35px;
  background: #289;
  bottom: -3px;
}

.bio .quote {
  font-size: 1.125em;
  font-style: italic;
  margin: 15px 0;
  text-indent: -.3em;
}

.bio p {
  line-height: 1.5em;
  margin-bottom: 5px;
}

.bio a {
  display: inline-block;
  margin-bottom: 15px;
}

.bio a:hover {
  border-bottom: 1px dashed #fff;
}

.bio .contact {
  font-size: .8em;
  margin: 5px 0 0;
  line-height: 1em;
}

.workBlock {
  /*border-top: dashed 1px #000;*/
  transition: margin-top 3s ease;
  padding-bottom: 40px;
}

.workBlock.expanded {
  margin-top: 140px;
}

.sites .workHeader {
  background: url('../images/square_work.jpg') left top;
}

.email .workHeader {
  background: url('../images/square_work.jpg') left center;
}

.ads .workHeader {
  background: url('../images/square_work.jpg') left bottom;
}

.workHeader {
  position: relative;
  background: #eaeaea;
  height: 300px;
  width: 100%;
}

.workHeader:before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  height: 1px;
  width: 100%;
  border-top: dashed 1px #333;
  
}

.workTitle {
  border-radius: 7em;
  width: 7em;
  height: 7em;
  text-align: center;
  background: rgba(0,0,0,.7);
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  line-height: 7em;
  left: 50%;
  margin: -3.5em 0 0 -3.5em;
  top: 50%;
  /*transition: background-color 0.75s ease, top 2.5s ease;*/
  color: #fff;
}

.workDesc {
  padding: 20px 5% 0;
}

.workContent {
  /*display: none;*/
}

.workDesc h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.4em;
  position: relative;
  display: inline-block;
  max-width: 30%;
  margin-right: 5%;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom: 35px;
}

.workDesc h3:after {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 35px;
  background: #289;
  bottom: -10px;
}

.workDesc .text {
  display: inline-block;
  max-width: 60%;
  vertical-align: top;
  margin-top: 20px;
}

.expanded .workTitle {
  top: 0;
  background: #000;
}

.workImg {
  text-align: center;
  padding: 0 0 20px;
}

.workImg h3 {
  font-weight: 300;
  border: 1px solid #ddd;
  padding: 20px;
  display: block;
  margin: 30px auto;
  width: 220px;
}

.workImg a {
  border-radius: 200px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  background: url('https://placekitten.com/g/210/200');
  background-size: cover;
  margin: 2%;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
}

.sites .workImg a {
  background: url('../images/tr_thumb1.jpg');
}
.sites .workImg a + a {
  background: url('../images/tr_thumb2.jpg');
}
.sites .workImg a + a + a{
  background: url('../images/tr_thumb3.jpg');
}
.sites .workImg a + a + a + a  {
  background: url('../images/mit_thumb.jpg');
}
.sites .workImg a + a + a + a + a {
  background: url('../images/ast_thumb.jpg');
}
.sites .workImg a + a + a + a + a + a {
  background: url('../images/sub_thumb.jpg');
}
.sites .workImg a + a + a + a + a + a + a{
  background: url('../images/lot_thumb.jpg');
}

.email .workImg a {
  background: url('../images/it_thumb.jpg');
}
.email .workImg a + a {
  background: url('../images/gg_thumb.jpg');
}
.email .workImg a + a + a{
  background: url('../images/cj_thumb.jpg');
}
.email .workImg a + a + a + a  {
  background: url('../images/whsl_thumb.jpg');
}

.ads .workImg a {
  background: url('../images/motown_thumb.jpg');
}
.ads .workImg a + a {
  background: url('../images/pirelli_thumb.jpg');
}
.ads .workImg a + a + a{
  background: url('../images/yoko_thumb.jpg');
}
.ads .workImg a + a + a + a{
  background: url('../images/rhp_thumb.jpg');
}
.ads .workImg a + a + a + a + a{
  background: url('../images/sumi_thumb.jpg');
}

.workImg span {
  position: absolute;
  line-height: 20px;
  left: 50%;
  margin-left: -60px;
  width: 120px;
  display: inline-block;
  top: 20%;
}

.workImg span:after {
  content: "";
  display: block;
  height: 1px;
  width: 120px;
  position: absolute;
  border-bottom: dashed 1px #fff;
  margin-top: 7px;
}

.workImg a:hover span {
  visibility: hidden;
}

.workImg a:after {
  /*content: "This is text";
  position: absolute;*/
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.5);
  display: block;
  border-radius: 200px;
}
.workImg a:hover:after {
  visibility: hidden;
}
#footer p {
  border-top: dashed 1px #333;
 }
 
.overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 11;
  background: #000 no-repeat center center;
  background-size: contain;
  top: 0;
  left: 0;
  color: #fff;
}

.overlay.show {
  display: block;
}

.overlay .caption {
  background: #000;
  padding: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  position: fixed;
  right: 0;
  bottom: 0;
}

.overlay .close {
  background: #d70000;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  position: fixed;
  right: 15px;
  top: 15px;
  cursor: pointer;
}



/* Media Queries */
@media screen 
  and (max-width: 380px)
{
	.navigation li {
	  display: inline-block;
	  margin-left: 7px;
	}

	.links a {
	  color: #fff;
	  font-family: 'Roboto Condensed', sans-serif;
	  font-weight: 300;
	  border-bottom: none;
	  font-size: 1em;
	}
}
@media screen 
  and (max-width: 550px)
{
    .workDesc .text, .workDesc h3 {
      display: block;
      max-width: 100%;
    }
	.header .contentBox {
	  max-width: 260px;
	  padding: 15px 5% 20px;
	  margin: 0 auto;
	  background: rgba(255, 255, 255, .7);
	}
}
@media screen 
  and (max-width: 700px)
{
	.bio {
	  max-width: 300px;
	  text-align: center;
	}
	.bio img {
	  margin: 0 auto 10px;
	}
}

